//Стили для placeholder inputmask
input[type="tel"] {
  &:hover {}

  &::placeholder {
    //Стили для placeholder маски ввода
    color: rgb(170, 170, 170);
  }
}

//Убираем стандартные стрелки у Input с типом number
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


input {
  //Убираем обводку при фокусе
  &:focus {
    outline: none;
    color: inherit;
  }

  //Стили для placeholder
  &::placeholder {
    color: #000;
  }
}


.input-icon {
  position: relative;
  display: flex;
  align-items: center;

  input {
    padding-left: 25px;
  }

  svg {
    position: absolute;
    left: 5px;
    width: 16px;
    height: 16px;
    fill: red;
    stroke: red;

    path {
      fill: red;
      stroke: red;
    }
  }
}