.popup-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
  height: 500px;
  width: 450px;
  background-color: rgb(216, 222, 224);
  text-align: center;

  &__close {
    cursor: pointer;
    width: 25px;
    height: 25px;
    position: absolute;
    right: 0;
    top: 0;
  }
}
.popup-form-pending {
  justify-content: center;
  align-items: center;
}
.popup-form-success {
  justify-content: center;
  align-items: center;
}
.is-invalid {
  border: 2px solid red;
}