.popup {
  display: flex;
  flex-direction: column;
}
.popup-pending {
  justify-content: center;
  align-items: center;
}
.popup-success {
  justify-content: center;
  align-items: center;
}
.is-invalid {
  border: 2px solid red;
}


/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;

  transition: all 0.2s ease-out;
}

/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}

/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;

  transition: all 0.2s ease-out;
}

/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}

/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}