//Переменные, функции , миксины
@import "abstracts/abstracts";

//Стили плагинов / фреймворков / чего-то еще
@import "vendor/libs";

//Стили компонентов / кнопок / модальных окон / checkbox
@import "components/components";

//Стили типографики / шрифтов / анимации
@import "base/base";

//Стили для страниц компонентов
@import "components-page";
@import "uikit-page";

//Стили блоков страницы 
@import "../blocks/modules";

//Подключаем стили для Vue компонентов
@import '../components/components'