h1, h2, h3, h4, h5, h6, ul, p {
    margin: 0;
    padding: 0;
}

// Убираем точки у тега li
li {
  list-style-type: none;
}

*{
  box-sizing: border-box;
}

body {
  font-family: 'Your font', //Указываем стандартный шрифт
  sans-serif;
  font-size: 16px;
}

// Убираем нижнее подчеривание у ссылок
a {
  text-decoration: none;
  // Наследует значение от родителя
  color:inherit;
}

// Container Bootstrap desktop first
.container {
  @include container();
  @include lg(max-width, 960px);
  @include md(max-width, 720px);
  @include sm(max-width, 540px);
}