h1, h2, h3, h4, h5 {

}
h1 {

}
h2 {

}
h3 {
  
}
h4 {

}
h5 {

}

.text-small {
  font-size: 12px;
}

.mark {
  background-color: #ffe58f;
}

a.link-primary {
  color: $link-primary;
  &:hover {

  }
}

a.link-secondary {
  color: $link-secondary;
  &:hover {

  }
}


.p {
  padding: 10px 0;
}

.display {
  font-size: 40px;
}