.h1, .h2, .h3, .h4, .h5 {

}
.h1 {

}
.h2 {

}
.h3 {
  
}
.h4 {

}
.h5 {

}

//Жирность шрифта
.thin {
  font-weight: 100;
}

.extra-light {
  font-weight: 200;
}

.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.semi-bold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.extra-bold {
  font-weight: 800;
}

.black {
  font-weight: 900;
}

.text-small {
  font-size: 12px;
}

.mark {
  background-color: #ffe58f;
}

.link {
  cursor: pointer;
  display: inline-flex;
  align-items: center;

  svg {
    width: 16px;
    height: 16px;
  }

  &:hover {}
}

.link-primary {
  color: $link-primary;

  &:hover {}

  svg {
    fill: $link-primary;
    stroke: $link-primary;

    path {
      fill: $link-primary;
      stroke: $link-primary;
    }
  }
}

.link-secondary {
  color: $link-secondary;

  &:hover {}

  svg {
    fill: $link-secondary;
    stroke: $link-secondary;

    path {
      fill: $link-secondary;
      stroke: $link-secondary;
    }
  }
}

.p {
  
}

.display {
  font-size: 40px;
}