.d-block {
  display: block;
}
.d-inline {
  display: inline-block;
}
.d-flex {
  display: flex;
}

.hide {
  display: none;
}

.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-evenly {
  justify-content: space-evenly;
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

@for $i from 1 through 30 {
  .mt-#{$i} {
    margin-top: #{$i}px;
  }
}
@for $i from 1 through 30 {
  .mb-#{$i} {
    margin-bottom: #{$i}px;
  }
}
@for $i from 1 through 30 {
  .ml-#{$i} {
    margin-left: #{$i}px;
  }
}
@for $i from 1 through 30 {
  .mr-#{$i} {
    margin-right: #{$i}px;
  }
}

@for $i from 1 through 30 {
  .mt-n#{$i} {
    margin-top: -#{$i}px;
  }
}
@for $i from 1 through 30 {
  .mb-n#{$i} {
    margin-bottom: -#{$i}px;
  }
}

@for $i from 1 through 30 {
  .ml-n#{$i} {
    margin-left: -#{$i}px;
  }
}

@for $i from 1 through 30 {
  .mr-n#{$i} {
    margin-right: -#{$i}px;
  }
}








@for $i from 1 through 30 {
  .pt-#{$i} {
    padding-top: #{$i}px;
  }
}

@for $i from 1 through 30 {
  .pb-#{$i} {
    padding-bottom: #{$i}px;
  }
}

@for $i from 1 through 30 {
  .pl-#{$i} {
    padding-left: #{$i}px;
  }
}

@for $i from 1 through 30 {
  .pr-#{$i} {
    padding-right: #{$i}px;
  }
}







